/* RESET */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* COMMONS */
body{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img{
    width: 100%;
}


.clearfix{
    display: table;
    content:"";
    clear: both;
}
.container{
    margin: auto;
    width:70%;
    line-height: 70px;
    height: 70px;
}
/* END COMMONS */

/* HEADER */
.cont {
    width: 100%;
    background-color:#3161e0;
}
.col{
    float:left;
    width: 15%;
}
.col-right > img{
    vertical-align: middle;
    width: 120px;
}
.col-midle{
    width: 70%;
    text-align: center;
}
.col-midle > ul > li{
    list-style: none;
    display: inline-block;
    margin-right: 3%;
}
.col-midle > ul > li > a{
    text-decoration: none;
    color: white;
}
.button{
text-align: right;
}
.button > a{
    text-decoration: none;
    padding:8px 16px;
    color: black;
    background-color: white;
    border-radius: 20px;

}
/* END HEADER */


/* MAIN */

.col-img, .col-text{
    float:left;
    width: 50%;
    /* test */
    background-color: orchid;
    height: 70px;
    border:1px solid black; 
}
/* prima sezione */
.cont.main{
    /* test */
    background-color: cornsilk;
}
.container.text{
    position: relative;
}
/* seconda sezione */
/* terza sezione */
/* quarta sezione */
/* quinta sezione */

/* END MAIN */


/* FOOTER */

/* test */
.cont.footer{
    background-color: greenyellow;
}
.col-fo{
    float:left;
    width: calc( 75% / 4);
    /* test */
    background-color: rgb(112, 170, 218);
    height: 50px;
    border-right: 1px solid black;
}
.social.col-fo{
    width: 25%;

    /* test */
    background-color: peru;
}
/* END FOOTER */