/* RESET */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* COMMONS */
body{

}



.clearfix{
    display: table;
    content:"";
    clear: both;
}
.container{
    margin: auto;
    width:70%;
/* test */
    background-color:red ;
    height: 70px;
}
/* END COMMONS */

/* HEADER */
.cont {
    width: 100%;
    
    /* TEST */
    height: 70px;
    background-color:#3161e0;
}
.col{
    float:left;
    width: 15%;
    /* test */
    background-color: aqua;
    height: 30px;
    border-right: 1px solid black;
}
.col-midle{
    width: 70%;
}
/* END HEADER */


/* MAIN */

.col-img, .col-text{
    float:left;
    width: 50%;
    /* test */
    background-color: orchid;
    height: 70px;
    border:1px solid black; 
}
/* prima sezione */
.cont.main{
    /* test */
    background-color: cornsilk;
}
.container.text{
    position: relative;
}
/* seconda sezione */
/* terza sezione */
/* quarta sezione */
/* quinta sezione */

/* END MAIN */


/* FOOTER */

/* test */
.cont.footer{
    background-color: greenyellow;
}
.col-fo{
    float:left;
    width: calc( 75% / 4);
    /* test */
    background-color: rgb(112, 170, 218);
    height: 50px;
    border-right: 1px solid black;
}
.social.col-fo{
    width: 25%;

    /* test */
    background-color: peru;
}
/* END FOOTER */